<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead"></head>

<body>
<script th:src="@{/js/addQuestion.js}"></script>
<div th:include="header :: navbar"></div>

<div class="text-center pull-right" style="margin-top: 60px;margin-right: 15px;">
    <a href="javascript:void(0)" id="intro-information"><i class="fa fa-info-circle fa-3x" th:title="#{info}"></i></a>
</div>

<section id="addQuestion" class="wrapper mt-2 text-center">
    <h2 class="display-5 my-4 mb-4 mx-auto" th:text="#{add.question.title}"></h2>
    <!--/*@thymesVar id="testRequest" type="com.atl.edusoftware.web.TestRequest"*/-->
    <form class="col-sm-11" th:object="${testRequest}" th:action="@{/edit/addQuestion}" method="post">
        <div class="form-group row">
            <label th:for="*{questionText}" class="col-sm-2 col-form-label">Question:</label>
            <div class="col-sm-10">
                <input id="questionText" type="text" class="form-control" th:field="*{questionText}"
                       placeholder="Question"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="*{answerText1}" class="col-sm-2 col-form-label">First Answer</label>
            <div class="col-sm-9">
                <input id="answerText" type="text" class="form-control" th:field="*{answerText1}"
                       placeholder="First answer"/>
            </div>
            <div class="col-1">
                <input type="checkbox" class="correct-answer-group form-check-input" th:field="*{isAnswer1Correct}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="*{answerText2}" class="col-sm-2 col-form-label">Second Answer</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{answerText2}" placeholder="Second Answer"/>
            </div>
            <div class="col-1">
                <input type="checkbox" class="correct-answer-group form-check-input" th:field="*{isAnswer2Correct}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="*{answerText3}" class="col-sm-2 col-form-label">Third answer</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{answerText3}" placeholder="Third answer"/>
            </div>
            <div class="col-1">
                <input type="checkbox" class="correct-answer-group form-check-input" th:field="*{isAnswer3Correct}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="*{answerText4}" class="col-sm-2 col-form-label">Fourth answer</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{answerText4}" placeholder="Fourth answer"/>
            </div>
            <div class="col-1">
                <input type="checkbox" class="correct-answer-group form-check-input" th:field="*{isAnswer4Correct}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" th:for="*{chapterNumber}">Chapter</label>
            <select id="chapter-selection" class="form-control col-sm-4 ml-3" th:field="*{chapterNumber}">
                <option th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}"
                        th:text="${chapter.value}"
                        th:value="${chapter.key}"
                        th:unless="${chapter.key} == 3">
                </option>
            </select>
        </div>
        <input type="hidden" th:field="*{questionId}"/>
        <input type="hidden" th:field="*{answerId1}"/>
        <input type="hidden" th:field="*{answerId2}"/>
        <input type="hidden" th:field="*{answerId3}"/>
        <input type="hidden" th:field="*{answerId4}"/>
        <button id="addQuiz" type="submit" class="btn btn-primary col-3 mx-auto my-5"
                th:text="#{button.submit}" name="add"></button>
    </form>
</section>

</body>
</html>