<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="layout :: htmlhead"></head>

<body>
<script th:src="@{/js/dashboard.js}"></script>
<div th:include="header :: navbar"></div>

<div class="text-center pull-right" style="margin-top: 60px;margin-right: 15px;">
    <a href="javascript:void(0)" id="intro-information"><i class="fa fa-info-circle fa-3x" th:title="#{info}"></i></a>
</div>

<section id="dashboard" class="wrapper">
    <div class="text-center well card col-12 col-md-7 col-xl-4 mx-auto my-5">

        <th:block th:if="${result == null}">
            <h2 class="display-5" th:text="#{dashboard.title}"></h2>
            <p class="text-info" th:text="#{dashboard.label}"></p>
        </th:block>
        <th:block th:if="${score != null}">
            <p th:text="#{score.message(${score})}"></p>
            <p th:text="${resultMessage}"></p>
        </th:block>
        <div class="btn-group-vertical" role="group">
            <a id="test-button" th:href="@{/tests}" type="button" class="btn btn-info btn-lg my-1"
               th:text="#{dashboard.tests}"></a>
            <a id="stat-button" th:href="@{/stats}" type="button" class="btn btn-info btn-lg my-1"
               th:text="#{dashboard.stats}"></a>
            <button class="btn btn-info btn-lg dropdown-toggle mt-1 mb-5" type="button"
                    id="dropdownStudentChapterButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    th:text="#{dashboard.theory}">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownStudentChapterButton">
                <th:block th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}">
                    <th:block th:unless="${chapter.key == 3}">
                        <a class="dropdown-item" th:href="@{/theory(chapterId = ${chapter.key})}"
                           th:text="${chapter.value}"></a>
                    </th:block>
                </th:block>
            </div>

            <th:block sec:authorize="hasAuthority('PROFESSOR')">
                <a id="add-question" th:href="@{/edit/addQuestion}" type="button" class="btn btn-info btn-lg mt-1"
                   th:text="#{dashboard.questions.add}"></a>

                <!--<a th:href="@{/edit/questions}" type="button" class="btn btn-info btn-lg mt-1" th:text="#{dashboard.edit.tests}"></a>-->
                <div class="w-100">
                    <button class="btn btn-info btn-lg dropdown-toggle my-1" type="button"
                            id="dropdownChapterEditButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            th:text="#{dashboard.edit.tests}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownChapterEditButton">
                        <th:block th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}">
                            <th:block th:unless="${chapter.key == 3}">
                                <a class="dropdown-item" th:href="@{/edit/questions(chapterId = ${chapter.key})}"
                                   th:text="${chapter.value}"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <div class="w-100">
                    <button class="btn btn-info btn-lg mt-1 dropdown-toggle mb-5" type="button"
                            id="dropdownChapterButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            th:text="#{dashboard.edit.theory}">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownChapterButton">
                        <th:block th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}">
                            <th:block th:unless="${chapter.key == 3}">
                                <a class="dropdown-item" th:href="@{/edit/theory(chapterId = ${chapter.key})}"
                                   th:text="${chapter.value}"></a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</section>

</body>
</html>
