<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead"></head>
<body>
<div th:include="header :: navbar"></div>

<!--/*@thymesVar id="chapterRequest" type="com.atl.edusoftware.data.model.Chapter"*/-->
<!--/*@thymesVar id="chapter" type="com.atl.edusoftware.data.model.Chapter"*/-->
<section class="col-10 m-auto">
    <h2 class="display-5 my-4 mb-4 text-center" th:text="#{edit.theory.title(${chapter.chapterName})}"></h2>
    <form th:object="${chapterRequest}" th:action="@{/edit/theory}" method="post">
        <div class="form-group">
            <label th:for="*{chapterTheory}"></label>
            <textarea class="form-control" th:text="${chapter.chapterTheory}" th:field="*{chapterTheory}" rows="15"
                      cols="20"></textarea>
        </div>
        <input type="hidden" name="chapterId" th:value="${chapter.chapterId}"/>
        <input type="hidden" name="chapterName" th:value="${chapter.chapterName}"/>

        <button id="editTheorySubmit" type="submit" class="btn btn-primary col-3 mx-auto my-5"
                th:text="#{button.submit}"></button>
    </form>
</section>

</body>
</html>