<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead"></head>


<body>

<div th:include="header :: navbar"></div>


<section id="login" class="wrapper">

    <form th:action="@{/login}" method="post" class="form-signin card col-12 col-md-7 col-xl-4 mx-auto mt-5">
        <h2 class="form-heading mt-2" th:text="#{login.title}"></h2>

        <span id="input-error" class="validation-message alert alert-danger" th:if="${param.error}"
              th:text="#{login.error}"></span>
        <span id="registration-success" class="validation-message alert alert-success" th:if="${successMessage}"
              th:text="${successMessage}"></span>

        <input type="email" class="form-control my-1" name="email" placeholder="Email Address" required="required"
               autofocus=""/>
        <input type="password" class="form-control my-1" name="password" placeholder="Enter Password"
               required="required"
               autofocus=""/>
        <button class="btn btn-lg btn-primary btn-block my-1 mx-auto col-md-4 col-8" type="submit">Login</button>
        <span class="text-center mb-3" th:utext="#{login.register}"></span>
    </form>
</section>

<div th:include="footer :: footer">
    <footer id="copyright" class="fixed-bottom py-3" style="background-color: #343a40;
    padding: 20px 0 !important;">
        <div class="copyright text-center text-white">
            <div class="container">
                <small>Copyright © Antoniadis and Tzoumas 2018</small>
            </div>
        </div>
    </footer>
</div>
</body>
</html>