<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout :: htmlhead"></head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top"><a class="navbar-brand" href="/"
                                                                          th:text="#{nav.home}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/logout" th:text="#{nav.logout}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard" th:text="#{nav.dashboard}"></a></li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" href="/login" th:text="#{nav.login}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration" th:text="#{nav.register}"></a></li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>

<section id="register" class="wrapper">
    <form th:action="@{/registration}" th:object="${user}" method="post"
          class="form-signin card col-12 col-md-7 col-xl-4 mx-auto mt-5"
          data-toggle="validator">

        <h2 class="form-heading mt-2" th:text="#{reg.header}"></h2>

        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
              class="validation-message alert alert-danger"></span>
        <input type="text" id="name" class="form-control form-group" th:placeholder="#{reg.first.name}"
               autofocus="autofocus"
               th:field="*{firstName}"/>

        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
              class="validation-message alert alert-danger"></span>
        <input type="text" class="form-control form-group" th:placeholder="#{reg.last.name}"
               th:field="*{lastName}"/>

        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
              class="validation-message alert alert-danger"></span>
        <input type="text" class="form-control form-group" th:placeholder="#{reg.email}"
               th:field="*{email}"/>

        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
              class="validation-message alert alert-danger"></span>
        <input type="password" id="password" class="form-control form-group" th:placeholder="#{reg.password}"
               th:field="*{password}"/>

        <button class="btn btn-lg btn-primary btn-block mb-3 mx-auto col-md-4 col-8" type="submit"
                th:text="#{button.submit}"></button>
    </form>
</section>

</body>
</html>
