<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:include="layout :: htmlhead"></head>

<body>
<script th:src="@{/js/test.js}"></script>
<div th:include="header :: navbar"></div>

<div class="text-center pull-right" style="margin-top: 60px;margin-right: 15px;">
    <a href="javascript:void(0)" id="intro-information"><i class="fa fa-info-circle fa-3x" th:title="#{info}"></i></a>
</div>

<section id="dashboard" class="wrapper">
    <form id="test-form" class="text-center card col-12 col-md-7 col-xl-4 mx-auto my-5" th:action="@{/tests/chapter}"
          method="get">
        <h2 class="display-5" th:text="#{tests.self.assessment.title}"></h2>
        <label for="test-by-chapter" th:text="#{tests.by.chapter}"></label>
        <div id="test-by-chapter" class="btn-group-vertical" role="group">
            <button th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}"
                    th:text="${chapter.value}"
                    th:class="${(chapter.key != 3) ? 'btn btn-secondary my-2' : 'btn btn-warning my-2'}"
                    th:name="${(chapter.key != 3) ? 'chapterId' : 'overall'}" th:value="${chapter.key}" type="submit">
            </button>
        </div>
    </form>

</section>

</body>
</html>
