<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout :: htmlhead"></head>

<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top"><a class="navbar-brand" href="/"
                                                                          th:text="#{nav.home}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <th:block sec:authorize="isAuthenticated()">
                    <li class="nav-item"><a class="nav-link" href="/logout" th:text="#{nav.logout}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard" th:text="#{nav.dashboard}"></a></li>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" href="/login" th:text="#{nav.login}"></a></li>
                    <li class="nav-item"><a class="nav-link" href="/registration" th:text="#{nav.register}"></a></li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>

<section id="dashboard" class="wrapper">
    <form class="text-center card col-12 col-md-7 col-xl-4 mx-auto my-5" th:action="@{/tests/chapter}" method="get">
        <h2 class="display-5" th:text="#{tests.self.assessment.title}"></h2>
        <label for="test-by-chapter" th:text="#{tests.by.chapter}"></label>
        <div id="test-by-chapter" class="btn-group-vertical" role="group">
            <button th:each="chapter : ${T(com.atl.edusoftware.commons.Maps).CHAPTERS}"
                    th:text="${chapter.value}"
                    th:class="${(chapter.key != 3) ? 'btn btn-secondary my-2' : 'btn btn-warning my-2'}"
                    th:name="${(chapter.key != 3) ? 'chapterId' : 'overall'}" th:value="${chapter.key}" type="submit">
            </button>
        </div>
    </form>

</section>

</body>
</html>
